<div>
  <%= form_for @customer, :url => {:controller => "customers", :action => "create"} do |f|%>
  <% if session[:errors] %>
    <h3>
      <%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:
    </h3>
    <ul>
      <% session[:errors].each do |msg| %>
        <li class="error"><%= msg %></li>
      <% end %>
    </ul>
    <% session[:errors] = nil %>
  <% end %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :postal_code %>
  <%= f.text_field :postal_code %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :province_id %>
  <%= f.select(:province_id, options_for_select(all_provinces)) %>
  
  <%= f.submit 'Create Customer' %>
  <% end %>
</div>
