<div class = product>
  <h3>
    <%= product.name %>
    (<%= product.system.name %>)
  </h3>

  <p>
    <%= image_tag product.image %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency(product.calc_price) %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= product.category.name %>
  </p>

  <% if full_details %>
    <p>
      <strong>Availability:</strong>
      <% if product.stock_quantity > 0 %>
        <strong>In-Stock</strong>
      <% else %>
        <strong>Out-of-Stock</strong>
      <% end %>
    </p>

    <p>
      <strong>Trade-in Value:</strong>
      <%= number_to_currency(@product.trade_in_value) %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= product.description %>
    </p>
    <%= button_to "Add to Cart", add_to_cart_path(:product_id => product), :method => :post %></td
    <%= link_to "Back", index_path %>
  <% else %>
    <%= link_to "More Details", product %>
  <% end %>
</div>
