<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= debug session[:cart] %>
    <div id = 'header'>
      <h1>TChuk Games</h1>
      <%= form_tag search_results_path, :id => 'search' do %>
        <%= text_field_tag :keywords %>
        <%= select_tag(:system_id, options_for_select(all_systems),
        :include_blank => true) %>
        <%= submit_tag 'Search' %>
      <% end %>
    </div>
    <div>
      Sort by System:
      <ul>
        <% @systems.each do |sys| %>
          <li>
            <%= link_to "#{sys.name}", sort_path(:id => sys.id) %>
          </li>
        <% end %>
      </ul>
    </div>
    <div>
      Sort by Condition:
      <ul>
        <% @categories.each do |category| %>
          <li>
            <%= link_to "#{category.name}", catsort_path(:catid => category.id) %>
          </li>
        <% end %>
      </ul>
    </div>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <% if session[:user] == "guest" %>
      <%= link_to "Sign Up", new_user_path %>
    <% else %>
      <div>
        <strong><%= session[:user] %></strong>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
