<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id = 'header'>
      <h1>TChuk Games</h1>
      <%= form_tag search_results_path, :id => 'search' do %>
        <%= text_field_tag :keywords %>
        <% systems_array = System.all.map { |sys| [sys.name, sys.id] } %>
        <%= select_tag(:system_id, options_for_select(systems_array),
        :include_blank => true) %>
        <%= submit_tag 'Search' %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
